;CSDM Configuration File for Deathmatch Server

[settings]
enabled = 1
strip_weapons = 1
weapons_stay = 0
spawnmode = preset
remove_bomb = 1
spawn_wait_time = 0.75

[ffa]
enabled = 1
radar_disable = 0

[misc]
remove_objectives = abcd
block_buy = 1
ammo_refill = 1
spawn_radio_msg = 0
hide_money = 1
hide_timer = 1

[stripper]
enabled = 1
class = player_weaponstrip
class = game_player_equip
class = item_healthkit
class = item_battery
class = armoury_entity
class = item_longjump

[protection]
enabled = 1
glowing = 1
colorst = "255 0 0 200"
colorsct = "0 0 255 200"
colorsffa = "0 255 0 200"
time = 3

[equip]
menus = ps
autoitems = ah
grenades = 
fnadesnum = 0
always_allow_gunmenu = 0

[secondary]
usp USP 1
glock18 Glock 1
deagle Deagle 1
p228 P228 1
elite Elite 1
fiveseven "Five Seven" 1

[primary]
m4a1 M4A1 1
ak47 AK47 1
aug AUG 1
sg552 SG552 1
galil Galil 1
famas Famas 1
scout Scout 1
awp AWP 1
sg550 SG550 1
m249 M249 1
g3sg1 G3SG1 1
ump45 "UMP 45" 1
mp5navy "MP5 Navy" 1
m3 M3 1
xm1014 XM1014 1
tmp TMP 1
mac10 "Mac 10" 1
p90 P90 1

[botsecondary]
deagle
usp
elite
fiveseven

[botprimary]
ak47
m4a1
aug
sg552
galil
famas
scout
awp
sg550
m249
g3sg1
mp5navy
m3
xm1014